PORT=5000
MONGODB_URI=mongodb+srv://vikash:<db_password>@cluster0.qn4eod8.mongodb.net/patientdb?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=patient_secret_key
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin12345

